html, body {
    overflow: auto;
    height: 100%;
    width: 100%;
}
.content {
    padding-top: 88px;
    height: auto;
    background: rgb(248,249,250);
    background: linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(48,60,92,0.75) 50%, rgba(248,249,250,1) 100%);
}
.nav-item {
    color: #303C5C;
}
.navbar-brand {
    color: #303C5C;
}
.active {
    color: #C2271F;
}